<form class="form-forgot">
    <div class="form-forgot-heading">
      <img src="./../../../assets/logoRift.png" alt="">
      <h2 class="form-title">Enviar email de recuperção</h2>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Degite seu email">
      <div class="form-feedback"></div>
    </div>
    <div class="action-link">
      <span class="label-action">
        Tentar novamente:
        <a routerLink="/login" class="link-action">
          realizar login
        </a>
      </span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
