<div class="card-account-info" *ngIf="isAccountSlected">
    <div class="info-amount">
        <img src="../../../assets/android-chrome-192x192.png" alt="">
        <span class="balance">{{balance}} RC</span>
    </div>
    <div class="details-info">
        <div class="account-name">
            <span class="label-name">{{accountSelected?.name}}</span>
            <div class="btn-action-container">
              <button type="button" class="btn btn-edit" (click)="openModalEdit()">
                <img src="../../../assets/edit.png" alt="">
              </button>
              <button type="button" class="btn btn-edit" (click)="deleteAccount()">
                  <img src="../../../assets/delete.png" alt="">
              </button>
            </div>
        </div>
        <div class="account-id">{{accountSelected?.public_key}}</div>
        <button type="button" class="btn btn-primry-key" (click)="openModalKey()">Obter chave primaria</button>
    </div>
    <div class="account-actions">
      <button type="button" class="btn btn-action" (click)="nextFeature()">Comprar</button>
      <button type="button" class="btn btn-action" (click)="openModalTrans()">Transferir</button>
    </div>
</div>
<div class="card-account-info not-selected" *ngIf="!isAccountSlected">Selecione uma conta</div>
