<div class="card-account-info">
    <div class="info-amount">
        <img src="../../../assets/android-chrome-192x192.png" alt="">
        <span class="balance">13 RC</span>
    </div>
    <div class="details-info">
        <div class="account-name">
            <span class="label-name">Account 1</span>
            <button type="button" class="btn btn-edit">
                <img src="../../../assets/edit.png" alt="">
            </button>
        </div>
        <div class="account-id">0x5e37572E107a30A37bB973ECffcf7C004B88cc8C</div>
        <button type="button" class="btn btn-primry-key">Obter chave primaria</button>
    </div>
</div>
