<div class="modal" [hidden]="!isOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Chave Primaria</h2>
      <span class="close" (click)="close()">&times;</span>
    </div>
    <div class="modal-body">
      <form #f="ngForm" #formGetPrimaryKey class="form-container form-update=profile" (ngSubmit)="submit(f,formGetPrimaryKey)">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" ngModel class="form-control" id="password" name="password" placeholder="Degite seu password">
          <div class="form-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary">Obter</button>
      </form>
      <div class="primary-key-container" *ngIf="showPrivateKey">
          {{privateKey.substring(2)}}
      </div>
    </div>
</div>

