<div class="transaction-container">
  <h3 class="label-title">Transações</h3>
  <div class="transactions" *ngIf="isAccountSlected">
    <div class="card-transaction" *ngFor="let i of arr">
      <div class="transaction-amount">
        <span class="label-amount">Valor</span>
        <span class="amount">+13 RC</span>
      </div>
      <div class="transaction-info">
        <div class="from-to">
          <div class="from">
            <span class="label-from-to">De: </span>
            <span class="from-to-value">0x5e3...cc8C</span>
          </div>
          <span class="label">>>></span>
          <div class="to">
            <span class="label-from-to">Para: </span>
            <span class="from-to-value">0x5e3...cc8C</span>
          </div>
        </div>
        <div class="transaction-date">
          <span class="date">01/01/2019</span>
        </div>
      </div>
      <button type="button" class="btn btn-more-info" (click)="openDetails()">Detalhes</button>
    </div>
  </div>
  <div class="transactions no-trans-label"*ngIf="!isAccountSlected">Selecione uma conta para ver as transações</div>
</div>
